.cl-primary-button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}

.cl-primary-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.cl-primary-button__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--cl-border-radius);
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.cl-primary-button__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--cl-border-radius);
  background: var(--cl-accent-gradient);
}

.cl-primary-button__front {
  display: block;
  position: relative;
  font-size: var(--cl-base-font-size);
  color: var(--cl-primary-background);
  font-family: var(--cl-core-font);
  gap: var(--cl-s-gap);
  padding: var(--cl-m-gap) var(--cl-l-gap);
  border-radius: var(--cl-border-radius);
  background: var(--cl-accent-color);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

/* Icon font color */
.cl-primary-button__front span::before {
  color: var(--cl-primary-background);
}

.cl-primary-button:hover {
  filter: brightness(110%);
}

.cl-primary-button:hover .cl-primary-button__front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.cl-primary-button:active .cl-primary-button__front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.cl-primary-button:hover .cl-primary-button__shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.cl-primary-button:active .cl-primary-button__shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.cl-primary-button:focus-visible {
  outline: var(--cl-outline-border);
}
