.cl-primary-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: var(--cl-m-gap) var(--cl-l-gap);
  border-radius: var(--cl-border-radius);
  background-color: var(--cl-primary-color);
  box-shadow: var(--cl-box-shadow);
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: var(--cl-s-gap);
  transition: all 150ms ease;
}

.cl-primary-button:hover {
  filter: brightness(1.1);
  box-shadow:
    var(--cl-box-shadow),
    0 4px 8px hsla(0, 0%, 0%, 0.2);
}

.cl-primary-button:active {
  transform: scale(0.98);
  box-shadow: var(--cl-box-shadow);
}

.cl-primary-button__text {
  font-family: var(--cl-core-font);
  font-size: var(--cl-base-font-size);
  color: var(--cl-primary-background);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-primary-button__icon::before {
  color: var(--cl-primary-background);
}
