.cl-editable-text {
  color: var(--cl-base-font-color);
  border-radius: var(--cl-border-radius);
  display: inline-block;

  /* Typography: core font base */
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;

  /* Font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-editable-text:hover,
.cl-editable-text:focus {
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-xs-gap);
}

.cl-editable-text_edit-mode {
  border: none;
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-xs-gap);
  min-width: var(--cl-l-gap);
}

.cl-editable-text_read-only:hover,
.cl-editable-text_read-only:focus {
  outline: none;
}

.cl-editable-text_empty {
  min-width: var(--cl-l-gap);
  min-height: 24px;
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-xs-gap);
}

@media (min-width: 640px) {
  .cl-editable-text {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-editable-text {
    font-size: var(--cl-typography-base-desktop);
  }
}
