/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-grid-row {
  border-bottom: var(--cl-primary-border);
  background-color: var(--cl-primary-background);
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-grid-row_selected {
  background-color: var(--cl-highlight-background);
}
