@use "/src/styles/mixins";
@use "/src/styles/typography";

.checkbox {
  display: flex;
  gap: var(--cl-m-gap);
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  position: relative;
  overflow: hidden;
  @include mixins.ripple();

  &__checked {
    svg {
      color: var(--cl-accent-color);
    }
  }

  &__disabled {
    @include mixins.disabled();
  }

  & label {
    cursor: pointer;
    gap: var(--cl-m-gap);
    @include typography.core-font(base);
    align-items: center;

    &:hover,
    &:active {
      text-shadow: none;
    }
  }

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 4px;
    left: 0;
    margin: 0;

    &:focus-visible + label {
      outline: var(--cl-outline-border);
      outline-offset: 2px;
    }
  }
}
