/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-checkbox {
  display: flex;
  gap: var(--cl-m-gap);
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  position: relative;
  overflow: hidden;
  background-position: center;
  transition: background 0.3s;
}

.cl-checkbox:hover {
  background:
    var(--cl-base-background-color)
    radial-gradient(circle, transparent 1%, var(--cl-base-background-color) 1%) center / 15000%;
  color: var(--cl-accent-a10);
}

.cl-checkbox:active {
  background-color: hsla(0, 0%, 0%, 0.3);
  background-size: 100%;
  transition: background 0s;
}

/* ============================================================================
   ELEMENTS
   ============================================================================ */

.cl-checkbox label {
  font-size: var(--cl-typography-base-mobile);
  align-items: center;
  gap: var(--cl-m-gap);
}

@media (min-width: 640px) {
  .cl-checkbox label {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-checkbox label {
    font-size: var(--cl-typography-base-desktop);
  }
}

.cl-checkbox label:hover,
.cl-checkbox label:active {
  text-shadow: none;
}

.cl-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 4px;
  left: 0;
  margin: 0;
}

.cl-checkbox input:focus-visible + label {
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-s-gap);
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-checkbox_checked svg {
  color: var(--cl-accent-a0);
}

.cl-checkbox_disabled {
  pointer-events: none;
  opacity: 0.5;
}
