@use "/src/styles/typography";

.grid {
  border-collapse: collapse;

  &_caption {
    color: var(--cl-primary-color);
    padding: var(--cl-m-gap);
    @include typography.core-font(base, 400);
  }

  &_wrapper {
    overflow-x: auto;
  }
}
