@use '/src/styles/typography';

.grid {
  border-collapse: collapse;

  &_caption {
    @include typography.font-style(core, base, light);
    color: var(--cl-primary-color);
    padding: var(--cl-m-gap);
  }
}
