@use "/src/styles/typography";
@use "/src/styles/mixins";

.combobox {
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--cl-m-gap);
  padding: var(--cl-m-gap);
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  background-color: var(--cl-primary-background);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  & > span:nth-child(1) {
    color: var(--cl-primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    @include typography.core-font(base);
  }

  &:focus-visible {
    outline: var(--cl-outline-border);
    outline-offset: 2px;
  }

  &[disabled] {
    @include mixins.disabled();
  }

  &_icon {
    transition: transform 0.3s ease;

    &__opened {
      transform: rotate(180deg);
    }
  }
}
