.button {
  min-height: 44px;
  min-width: 44px;
  border: none;
  cursor: pointer;
  padding: 0px 12px;
  font-size: 1rem;
}

.primary {
  border-radius: 6px;
  color: var(--cl-color-white);
  background: var(--cl-primary-gradient);
}

.secondary {
  background: none;
  color: var(--cl-color-primary);
}

.disabled {
  pointer-events: none;
}
