@use "/src/styles/animations";
@use "/src/styles/mixins";

.button {
  @include animations.fade-in();

  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: var(--cl-icon-size);
  width: var(--cl-icon-size);

  &:focus-visible {
    outline: var(--cl-outline-border);
    outline-offset: -1px;
  }

  &:hover,
  &:active {
    transform: scale(1.2);
    color: var(--cl-highlight-background) !important;
    filter: var(--cl-drop-shadow);
  }

  &[disabled] {
    @include mixins.disabled();
  }
}
