/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-menu-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  display: flex;
  gap: var(--cl-s-gap);
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-menu-bar_vertical {
  flex-direction: column;
}
