@use "/src/styles/typography";

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  &__medium {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.tile {
  color: var(--cl-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  gap: var(--cl-l-gap);
  border-radius: var(--cl-border-radius);
  padding: var(--cl-m-gap);
  width: 6rem;
  height: 6rem;
  @include typography.core-font(small);

  &:hover {
    cursor: pointer;
  }

  svg {
    font-size: var(--cl-header-font-size);
  }

  span {
    text-align: center;
  }
}
