@use '/src/styles/typography';

.header {
  @include typography.font-style(core, header, bold);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--cl-l-gap);
  padding: var(--cl-l-gap);
  border-bottom: var(--cl-primary-border);
  color: var(--cl-primary-color);
}
