.cl-sub-menu-bar {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  display: flex;
  gap: var(--cl-s-gap);
  justify-content: flex-start;
  width: 100%;
  animation: cl-fade-in ease 400ms;
  flex-direction: column;
  padding-left: var(--cl-l-gap);
  margin-left: var(--cl-l-gap);
  margin-top: var(--cl-s-gap);
  box-sizing: border-box;
  border-left: var(--cl-accent-border);
}

.cl-sub-menu-bar_horizontal {
  position: absolute;
  top: 100%;
  left: 0%;
  width: max-content;
  border-radius: var(--cl-border-radius);
  border: var(--cl-accent-border);
  box-shadow: var(--cl-box-shadow);
  background-color: var(--cl-base-background-color);
  padding: var(--cl-m-gap);
  margin: 0;
  z-index: var(--cl-z-index-menu);
}
