@use '/src/styles/animations';
@use '/src/styles/mixins';

.button {
  @include animations.fade-in();

  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: var(--cl-small-font-size);
  color: var(--cl-primary-color);
  padding: 0;

  &:focus-visible {
    outline: var(--cl-outline-border);
    outline-offset: -1px;
  }

  &:hover,
  &:active {
    svg {
      color: var(--cl-tint-color);
      filter: var(--cl-drop-shadow);
    }
  }

  svg {
    cursor: pointer;
    height: var(--cl-icon-size);
    width: var(--cl-icon-size);
  }

  &[disabled] {
    @include mixins.disabled();
  }
}
