/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-tabs_vertical {
  flex-direction: row;
}
