@use '/src/styles/typography';

.button {
  @include typography.font-style(core, base);
  color: var(--cl-primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  border: var(--cl-light-border);
  background: transparent;

  &:hover {
    border: var(--cl-outline-border);
    color: var(--cl-tint-color);
  }

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    height: var(--cl-icon-size);
    width: var(--cl-icon-size);
  }
}
