@use "/src/styles/mixins";
@use "/src/styles/typography";

.checkbox {
  display: flex;
  gap: var(--cl-m-gap);
  padding: var(--cl-m-gap) 0;
  position: relative;
  overflow: hidden;

  & svg {
    color: var(--cl-primary-color);
  }

  &__checked {
    svg {
      color: var(--cl-accent-color);
    }
  }

  &__disabled {
    @include mixins.disabled();
  }

  & label {
    cursor: pointer;
    gap: var(--cl-m-gap);
    @include typography.core-font(base);

    &:hover,
    &:active {
      text-shadow: var(--cl-text-shadow);
    }
  }

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 4px;
    left: 0;
    margin: 0;

    &:focus-visible + label {
      outline: var(--cl-outline-border);
      outline-offset: 2px;
    }
  }
}
