@use "/src/styles/typography";

.label {
  display: flex;
  align-items: baseline;
  gap: var(--cl-s-gap);
  color: var(--cl-primary-color);
  @include typography.core-font(small);

  &:hover {
    text-shadow: var(--cl-text-shadow);
    cursor: pointer;
  }

  &_text {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & abbr {
    text-decoration: none;
    cursor: pointer;
    color: var(--cl-accent-color);
    margin-left: var(--cl-s-gap);
  }
}
