@use "/src/styles/breakpoints";

.form {
  display: grid;
  align-items: end;
  gap: var(--cl-l-gap);
  grid-template-columns: auto;
  grid-template-rows: auto;

  @include breakpoints.md-up {
    // Default to 2 columns on medium and up
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.lg-up {
    // Default to 2 columns on medium and up
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoints.xl-up {
    // Default to 2 columns on medium and up
    grid-template-columns: repeat(4, 1fr);
  }

  &_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--cl-l-gap);
    grid-column: 1 / -1;
  }
}
