/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-alert {
  animation: cl-fade-in ease 400ms;
  position: fixed;
  bottom: var(--cl-l-gap);
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--cl-z-index-popup);
  width: 90vw;
}

@media screen and (min-width: 1024px) {
  .cl-alert {
    width: 50vw;
    transform: none;
    right: var(--cl-l-gap);
    left: auto;
  }
}

/* ============================================================================
   ELEMENTS
   ============================================================================ */

.cl-alert__content {
  color: var(--cl-base-font-color);
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  background: var(--cl-base-background-color);
  padding: var(--cl-m-gap) var(--cl-l-gap);
  box-shadow: var(--cl-box-shadow);
  border: var(--cl-accent-border);
  border-radius: var(--cl-border-radius);
  position: relative;
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-small-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-alert__header {
  padding-right: var(--cl-thumb-size);
}

@media (min-width: 640px) {
  .cl-alert__content {
    font-size: var(--cl-typography-small-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-alert__content {
    font-size: var(--cl-typography-small-desktop);
  }
}

.cl-alert__message {
  margin: var(--cl-m-gap) 0;
}

.cl-alert__button {
  position: absolute;
  right: var(--cl-m-gap);
  top: var(--cl-m-gap);
}

.cl-alert__progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--cl-s-gap);
  border: none;
  background-color: var(--cl-base-background-color);
}

.cl-alert__progress-bar::-webkit-progress-bar {
  background-color: var(--cl-base-background-color);
}

.cl-alert__progress-bar::-webkit-progress-value {
  background-color: var(--cl-accent-a10);
}

.cl-alert__progress-bar::-moz-progress-bar {
  background-color: var(--cl-accent-a10);
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-alert_closing {
  animation: cl-fade-out ease 400ms;
}

.cl-alert_success .cl-alert__content {
  border: var(--cl-success-border);
  color: var(--cl-success-a0);
}

.cl-alert_success .cl-alert__header {
  border-bottom: var(--cl-success-border);
  color: var(--cl-success-a0);
}

.cl-alert_success .cl-alert__button span::before {
  color: var(--cl-success-a0);
}

.cl-alert_error .cl-alert__content {
  border: var(--cl-danger-border);
  color: var(--cl-danger-a0);
}

.cl-alert_error .cl-alert__button span::before {
  color: var(--cl-danger-a0);
}

.cl-alert_error .cl-alert__header {
  border-bottom: var(--cl-danger-border);
  color: var(--cl-danger-a0);
}

.cl-alert_warning .cl-alert__content {
  border: var(--cl-warning-border);
  color: var(--cl-warning-a0);
}

.cl-alert_warning .cl-alert__header {
  border-bottom: var(--cl-warning-border);
  color: var(--cl-warning-a0);
}

.cl-alert_warning .cl-alert__button span::before {
  color: var(--cl-warning-a0);
}

.cl-alert_info .cl-alert__content {
  border: var(--cl-info-border);
  color: var(--cl-info-a0);
}

.cl-alert_info .cl-alert__header {
  border-bottom: var(--cl-info-border);
  color: var(--cl-info-a0);
}

.cl-alert_info .cl-alert__button span::before {
  color: var(--cl-info-a0);
}

.cl-alert_help .cl-alert__content {
  border: var(--cl-light-border);
}
