@use "/src/styles/animations";
@use "/src/styles/typography";
@use "/src/styles/variables";
@use "/src/styles/breakpoints";

.wrapper {
  @include animations.fade-in();
  position: fixed;
  bottom: var(--cl-l-gap);
  left: 50%;
  transform: translateX(-50%);
  z-index: variables.$popup;
  width: 90vw;

  @include breakpoints.md-up {
    width: 70vw;
  }

  @include breakpoints.lg-up {
    width: 50vw;
    transform: none;
    right: var(--cl-l-gap);
    left: auto;
  }

  &__closing {
    @include animations.fade-out();
  }
}

.content {
  color: var(--cl-primary-color);
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  background: var(--cl-primary-background);
  padding: var(--cl-m-gap) var(--cl-l-gap);
  box-shadow: var(--cl-box-shadow);
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  position: relative;
  @include typography.core-font(base);

  &_button {
    position: absolute;
    right: var(--cl-m-gap);
    top: var(--cl-m-gap);
  }
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--cl-s-gap);
  border: none;
  background-color: var(--cl-primary-background);

  &::-webkit-progress-bar {
    background-color: var(--cl-primary-background);
  }

  &::-webkit-progress-value {
    background-color: var(--cl-highlight-background);
  }

  &::-moz-progress-bar {
    background-color: var(--cl-highlight-background);
  }
}
