/* ============================================================================
   ANIMATIONS
   ============================================================================ */
@keyframes cl-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cl-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-alert {
  animation: cl-fade-in ease 400ms;
  position: fixed;
  bottom: var(--cl-l-gap);
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 90vw;
}

@media screen and (min-width: var(--cl-breakpoint-lg)) {
  .cl-alert {
    width: 50vw;
    transform: none;
    right: var(--cl-l-gap);
    left: auto;
  }
}

/* ============================================================================
   ELEMENTS
   ============================================================================ */

.cl-alert__content {
  color: var(--cl-primary-color);
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  background: var(--cl-primary-background);
  padding: var(--cl-m-gap) var(--cl-l-gap);
  box-shadow: var(--cl-box-shadow);
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  position: relative;
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: var(--cl-breakpoint-md)) {
  .cl-alert__content {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: var(--cl-breakpoint-lg)) {
  .cl-alert__content {
    font-size: var(--cl-typography-base-desktop);
  }
}

.cl-alert__button {
  position: absolute;
  right: var(--cl-m-gap);
  top: var(--cl-m-gap);
}

.cl-alert__progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--cl-s-gap);
  border: none;
  background-color: var(--cl-primary-background);
}

.cl-alert__progress-bar::-webkit-progress-bar {
  background-color: var(--cl-primary-background);
}

.cl-alert__progress-bar::-webkit-progress-value {
  background-color: var(--cl-highlight-background);
}

.cl-alert__progress-bar::-moz-progress-bar {
  background-color: var(--cl-highlight-background);
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-alert_closing {
  animation: cl-fade-out ease 400ms;
}
