:root {
  // Colors
  --cl-font-color-base: hsl(0, 0%, 100%);
  --cl-font-color-light: hsl(0, 0%, 92%);
  --cl-font-color-accent: hsl(16, 82%, 52%);
  --cl-background-color-base: hsl(0, 0%, 17%);
  --cl-background-color-light: hsl(0, 0%, 24%);
  --cl-background-color-transparent: hsla(0, 0%, 92%, 0.3);
  // Gradients
  --cl-gradient-shadow: linear-gradient(to left, hsl(16, 86%, 26%) 0%, hsl(16, 86%, 30%) 8%, hsl(16, 86%, 30%) 92%, hsl(16, 86%, 26%) 100%);
  // Fonts
  --cl-font-family-core: 'Arial, Helvetica, sans-serif';
  --cl-font-family-monospace: 'Courier New, Courier, monospace';
  --cl-font-size-base: 1.2rem;
  --cl-font-size-small: 0.8rem;
  --cl-font-size-header: 2rem;
  // Units
  --cl-gap-small: 0.25rem;
  --cl-gap-medium: 0.6rem;
  --cl-gap-big: 1rem;
  --cl-icon-size: 1.2rem;
  --cl-block-border-radius: 0.25rem;
  // Shadows
  --cl-box-shadow: hsla(0, 0%, 92%, 0.15) 2.4px 2.4px 3.2px;
  --cl-text-shadow: 2.4px 2.4px 3.2px hsla(0, 0%, 92%, 0.3);
  // Borders
  --cl-border-base: 1px solid hsl(0, 0%, 11%);
  --cl-border-light: 1px solid hsl(0, 0%, 29%);
  --cl-border-accent: 1px solid hsl(16, 82%, 52%);
  --cl-border-outline: 1px solid hsl(0, 0%, 100%);
  // Z-indexes
  --cl-z-index-base: 1;
  --cl-z-index-popup: 100;
  --cl-z-index-modal: 200;
}
