@font-face {
  font-family: 'Cyrge';
  src:
    local('Cyrge'),
    url('src/assets/fonts/cyrge/Cygre-Regular.ttf') format('truetype-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Zector';
  src:
    local('Zector'),
    url('src/assets/fonts/zector/Zector.ttf') format('truetype-variations');
  font-display: swap;
}
