@use "themes";
@use "typography";
@use "icons";

:root {
  // Fonts
  --cl-core-font: typography.$cl-core-font;
  --cl-monospace-font: typography.$cl-monospace-font;
  // Units
  --cl-base-font-size: 1rem;
  --cl-small-font-size: 0.8rem;
  --cl-header-font-size: 2rem;
  --cl-xs-gap: 2px;
  --cl-s-gap: 4px;
  --cl-m-gap: 8px;
  --cl-l-gap: 16px;
  --cl-xl-gap: 32px;
  --cl-icon-size: 20px;
  --cl-thumb-size: 24px;
  --cl-border-radius: 4px;
}
