@use "/src/styles/animations";
@use "/src/styles/typography";
@use "/src/styles/variables";

.wrapper {
  @include animations.fade-in();
  position: fixed;
  bottom: var(--cl-l-gap);
  left: 50%;
  transform: translateX(-50%);
  z-index: variables.$popup;

  &__closing {
    @include animations.fade-out();
  }
}

.content {
  color: var(--cl-primary-color);
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  background: var(--cl-primary-background);
  width: 60vw;
  padding: var(--cl-m-gap) var(--cl-l-gap);
  box-shadow: var(--cl-box-shadow);
  border: var(--cl-light-border);
  border-radius: var(--cl-border-radius);
  position: relative;
  @include typography.core-font(base);

  &_button {
    position: absolute;
    right: var(--cl-m-gap);
    top: var(--cl-m-gap);
  }
}
