@use "/src/styles/typography";
@use "/src/styles/mixins";

.subMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
  padding: 0;
  position: relative;
  border-radius: var(--cl-border-radius);

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  a {
    color: var(--cl-tint-color);
  }

  &_icon {
    transition: transform 0.3s ease;

    &__opened {
      transform: rotate(180deg);
    }
  }
}

.text {
  color: var(--cl-primary-color);
  position: relative;
  display: flex;
  box-sizing: border-box;
  gap: var(--cl-m-gap);
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: transparent;
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  cursor: pointer;
  @include mixins.ripple();
  @include typography.core-font(base);

  span {
    display: flex;
    gap: var(--cl-m-gap);
    align-items: center;
  }

  &:hover {
    text-shadow: var(--cl-text-shadow);

    svg {
      filter: var(--cl-drop-shadow);
    }
  }
}
