@use "/src/styles/typography";

.tabContent {
  color: var(--cl-primary-color);
  border-top: var(--cl-primary-border);
  background-color: var(--cl-primary-background);
  padding: var(--cl-l-gap);
  flex-grow: 1;

  @include typography.core-font(base);
}
