/* ============================================================================
   ELEMENTS
   ============================================================================ */

.cl-grid-column {
  border-right: var(--cl-accent-border);
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-grid-column_first {
  border-left: var(--cl-accent-border);
}

.cl-grid-column_highlighted {
  background-color: var(--cl-surface-tonal-a0);
}
