@use "/src/styles/typography";
@use "/src/styles/mixins";

.button {
  @include typography.font-style(core, base);
  @include mixins.ripple();

  color: var(--cl-primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--cl-s-gap);
  padding: var(--cl-m-gap) var(--cl-l-gap);
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  background: transparent;

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  &[disabled] {
    @include mixins.disabled();
  }
}
