.cl-input__wrapper {
  display: flex;
  gap: var(--cl-m-gap);
  align-items: center;
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  padding: var(--cl-m-gap);
  background-color: var(--cl-primary-background);
  position: relative;
}

.cl-input__wrapper:has(input:focus) {
  border: var(--cl-outline-border);
}

.cl-input__wrapper:has(input[aria-invalid="true"]) {
  border: var(--cl-accent-border);
}

.cl-input__wrapper:has(input[disabled]) {
  pointer-events: none;
  opacity: 0.5;
}

.cl-input__wrapper > span:nth-child(2) {
  display: flex;
  gap: var(--cl-m-gap);
  align-items: center;
}

.cl-input__field {
  color: var(--cl-primary-color);
  padding: 0;
  border: none;
  display: inline-block;
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;

  /* Typography: core font base */
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-input__field:focus-visible {
  outline: none;
}

.cl-input__field:placeholder-shown + span {
  display: none !important;
}

.cl-input__field::-webkit-outer-spin-button,
.cl-input__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cl-input__field[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (min-width: 640px) {
  .cl-input__field {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-input__field {
    font-size: var(--cl-typography-base-desktop);
  }
}
