/* ============================================================================
   BLOCK
   ============================================================================ */
.container {
  color: var(--cl-primary-color);
  background-color: var(--cl-primary-background);
  padding: var(--cl-l-gap);
  margin: var(--cl-l-gap);
  border: var(--cl-light-border);
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: var(--cl-breakpoint-md)) {
  .container {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: var(--cl-breakpoint-lg)) {
  .container {
    font-size: var(--cl-typography-base-desktop);
  }
}
