/* ============================================================================
   BLOCK
   ============================================================================ */
.responsiveWrapper {
  width: 90% !important;
}

@media (min-width: 640px) {
  .responsiveWrapper {
    width: 60% !important;
  }
}

@media (min-width: 1024px) {
  .responsiveWrapper {
    width: 50% !important;
  }
}

@media (min-width: 1280px) {
  .responsiveWrapper {
    width: 40% !important;
  }
}
