@use "/src/styles/breakpoints";

.responsiveWrapper {
  width: 90% !important;

  @include breakpoints.md-up {
    width: 60% !important;
  }

  @include breakpoints.lg-up {
    width: 50% !important;
  }

  @include breakpoints.xl-up {
    width: 40% !important;
  }
}
