.cl-secondary-button {
  background: transparent;
  cursor: pointer;
  padding: var(--cl-m-gap) var(--cl-l-gap);
  border-radius: var(--cl-border-radius);
  border: var(--cl-primary-border);
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: var(--cl-s-gap);
}

.cl-secondary-button__text {
  font-family: var(--cl-core-font);
  font-size: var(--cl-base-font-size);
  color: var(--cl-primary-color);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-secondary-button__icon::before {
  color: var(--cl-primary-color);
  margin-right: var(--cl-s-gap);
}
