@use '/src/styles/animations';
@use '/src/styles/typography';

.wrapper {
  @include animations.fade-in();
  position: fixed;
  bottom: var(--cl-gap-big);
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--cl-z-index-popup);

  &__closing {
    @include animations.fade-out();
  }
}

.content {
  @include typography.font-style(core, base);

  display: flex;
  flex-direction: column;
  gap: var(--cl-gap-medium);
  background: var(--cl-background-color-base);
  color: var(--cl-font-color-base);
  width: 90vw;
  padding: var(--cl-gap-medium);
  box-shadow: var(--cl-box-shadow);
  border: var(--cl-border-light);
  border-radius: var(--cl-block-border-radius);
}
