@import 'styles/global.scss';

.cl-alert {
  position: fixed;
  bottom: var(--big-gap);
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--modal-z-index);
  @include fade-in();

  &_closing {
    @include fade-out();
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    box-shadow: var(--box-shadow);
    font-family: var(--core-font);
    width: 95vw;
    padding: var(--medium-gap);
    border-radius: var(--block-border-radius);
    background-color: var(--cl-color-ivory);
  }
}
