@import 'styles/global.scss';

.cl-alert {
  position: fixed;
  bottom: $big-gap;
  left: 50%;
  transform: translateX(-50%);
  z-index: $modal-z-index;
  @include fade-in();

  &_closing {
    @include fade-out();
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $medium-gap;
    box-shadow: $box-shadow;
    font-family: $core-font;
    width: 95vw;
    padding: $medium-gap;
    border-radius: $block-border-radius;
    background-color: $cl-color-ivory;
  }
}
