@use '/src/styles/typography';
@use '/src/styles/mixins';

.combobox {
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--cl-m-gap);
  padding: var(--cl-m-gap);
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  background-color: var(--cl-primary-background);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  & > span:nth-child(1) {
    @include typography.font-style(core, base);
    color: var(--cl-primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
  }

  svg {
    cursor: pointer;
    color: var(--cl-primary-color);
    height: var(--cl-icon-size);
    width: var(--cl-icon-size);

    &:hover {
      color: var(--cl-tint-color);
      filter: var(--cl-drop-shadow);
    }
  }

  &:focus-visible {
    outline: var(--cl-outline-border);
    outline-offset: 2px;
  }

  &[disabled] {
    @include mixins.disabled();
  }
}
