@use '/src/styles/typography';

.option {
  padding: var(--cl-m-gap);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--cl-m-gap);
  @include typography.font-style(core, base);
  color: var(--cl-primary-color);

  &:hover,
  &:active {
    color: var(--cl-accent-color);
  }

  &:focus-visible {
    outline: var(--cl-outline-border);
    outline-offset: -4px;
  }

  svg {
    color: var(--cl-tint-color);
    width: var(--cl-icon-size);
    height: var(--cl-icon-size);
  }

  &__selected {
    svg {
      color: var(--cl-accent-color);
    }
  }

  &__multi {
    justify-content: flex-start;
  }
}
