/* Focus styles */
.cl-button:focus-visible {
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-s-gap);
}

/* Disabled state */
.cl-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

/* Extended variant */
.cl-button_extended {
  width: 100%;
}
