/* Common button styles */
.cl-button {
  font-size: var(--cl-typography-base-mobile);
  padding: var(--cl-m-gap);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

/* Focus styles */
.cl-button:focus-visible {
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-s-gap);
}

/* Disabled state */
.cl-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

/* Extended variant */
.cl-button_extended {
  width: 100%;
}

@media (min-width: 640px) {
  .cl-button {
    font-size: var(--cl-typography-base-tablet);
    padding: var(--cl-m-gap) var(--cl-l-gap);
  }
}

@media (min-width: 1024px) {
  .cl-button {
    font-size: var(--cl-typography-base-desktop);
  }
}
