.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  width: 100%;

  /* For WebKit browsers (Chrome, Edge, Safari) */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
    -webkit-appearance: none; /* Further ensures removal of default styling */
  }

  /* For Internet Explorer (older versions) */
  input[type="search"]::-ms-clear,
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  input {
    &:placeholder-shown + span {
      display: inline-block !important;
    }
  }
}
