@use "/src/styles/typography";

.breadcrumbs {
  &_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--cl-m-gap);
  }

  &_item {
    display: flex;
    align-items: center;
  }

  &_text {
    display: inline-flex;
    align-items: center;
    gap: var(--cl-s-gap);
    color: var(--cl-tint-color);
    @include typography.core-font(base);

    svg {
      color: var(--cl-tint-color);
    }
  }

  &_separator {
    color: var(--cl-tint-color);
  }
}
