.cl-breadcrumbs {
  display: inline-block;
  background-color: transparent;
}

.cl-breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--cl-s-gap);
}

.cl-breadcrumbs__item {
  display: flex;
  align-items: center;
}

.cl-breadcrumbs__text {
  display: inline-flex;
  align-items: center;
  gap: var(--cl-s-gap);
  color: var(--cl-base-font-color);
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-breadcrumbs__link {
  color: var(--cl-base-font-color) !important;
}

.cl-breadcrumbs__link span::before {
  color: var(--cl-base-font-color);
}

@media (min-width: 640px) {
  .cl-breadcrumbs__text {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-breadcrumbs__text {
    font-size: var(--cl-typography-base-desktop);
  }
}
