.cl-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--tooltip-z-index);
  background-color: var(--cl-color-celtic-blue);
  color: white;
  padding: var(--small-gap) var(--medium-gap);
  font-size: 0.8rem;
  border-radius: var(--block-border-radius);
  box-shadow: var(--box-shadow);
  pointer-events: none;
  white-space: nowrap;
  animation: fadeIn ease 400ms;
  -webkit-animation: fadeIn ease 400ms;
  -moz-animation: fadeIn ease 400ms;
}

.cl-tooltip__container {
  position: relative;
  cursor: pointer;
}

.cl-tooltip__container:focus-visible {
  outline: var(--focus-outline);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
