@use '/src/styles/animations';
@use '/src/styles/typography';
@use '/src/styles/variables';

.tooltip {
  @include animations.fade-in();
  @include typography.font-style(core, small);

  color: var(--cl-font-color-base);
  position: absolute;
  left: 0;
  top: 0;
  z-index: variables.$popup;
  background-color: var(--cl-background-color-base);
  border: var(--cl-border-light);
  padding: var(--cl-gap-medium);
  border-radius: var(--cl-block-border-radius);
  box-shadow: var(--cl-box-shadow);
  pointer-events: none;
  white-space: nowrap;
}
