.tabList {
  border-bottom: var(--cl-primary-border);
  padding: 0 var(--cl-m-gap);
  display: flex;
  gap: var(--cl-m-gap);

  &__vertical {
    flex-direction: column;
    border-bottom: none;
    border-right: var(--cl-primary-border);
    padding: var(--cl-m-gap) 0;
  }
}
