.image {
  object-fit: cover;
  border-radius: var(--cl-border-radius);
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: var(--cl-border-radius);
}

.picture {
  display: block;
  object-fit: cover;
  border-radius: var(--cl-border-radius);
}
