.cl-icon-button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cl-m-gap);
  border-radius: 50%;
  background: transparent;
  width: fit-content;
}

.cl-icon-button__icon::before {
  color: var(--cl-primary-color);
}

.cl-icon-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
