@use "/src/styles/typography";
@use "/src/styles/mixins";

.button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cl-m-gap);
  border-radius: 50%;
  background: transparent;
  width: fit-content;
  transition: 0.1s all;

  &:hover,
  &:active {
    transform: scale(1.2);
    color: var(--cl-highlight-background) !important;
    filter: var(--cl-drop-shadow);
  }

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  &[disabled] {
    @include mixins.disabled();
  }
}
