@import 'styles/global.scss';

.cl-label {
  font-size: 0.8rem;
  font-family: $core-font;
  display: flex;
  align-items: center;
  gap: $small-gap;
  color: $cl-color-black;

  &__text {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__required {
    font-size: 0.8rem;
    font-family: $core-font;
    text-decoration: none;
    color: $cl-color-syracuse-red;
    cursor: pointer;
  }
}
