/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-grid-body {
  color: var(--cl-primary-color);
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .cl-grid-body {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-grid-body {
    font-size: var(--cl-typography-base-desktop);
  }
}
