.cl-grid-header-cell__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--cl-s-gap);
  position: relative;
}

.cl-grid-header-cell_sortable .cl-grid-header-cell__content,
.cl-grid-header-cell_filterable .cl-grid-header-cell__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--cl-s-gap);
  position: relative;
}

.cl-grid-header-cell__title {
  flex: 1;
  min-width: 0;
}

.cl-grid-header-cell__controls {
  display: flex;
  align-items: center;
  gap: var(--cl-xs-gap);
  flex-shrink: 0;
}
