@import 'styles/global.scss';

.cl-error-message {
  font-size: 0.8rem;
  font-family: $core-font;
  color: $cl-color-syracuse-red;
  visibility: hidden;

  &_visible {
    visibility: visible;
  }
}
