@use "/src/styles/typography";
@use "/src/styles/mixins";

.button {
  color: var(--cl-primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cl-m-gap);
  border-radius: 50%;
  background: transparent;
  width: fit-content;
  border: var(--cl-light-border);

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  &[disabled] {
    @include mixins.disabled();
  }

  svg {
    height: var(--cl-icon-size);
    width: var(--cl-icon-size);
  }

  @include mixins.ripple();
  @include typography.core-font(base);
}
