@font-face {
  font-family: 'CyrgeRegular';
  src: url('/src/assets/fonts/cyrge/Cygre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CyrgeBold';
  src: url('/src/assets/fonts/cyrge/Cygre-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CyrgeLight';
  src: url('/src/assets/fonts/cyrge/Cygre-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
