@font-face {
  font-family: 'DitaRegular';
  src:
    url('/src/assets/fonts/dita/AF-DitaGroteskMonoDEMO-Regular.woff') format('woff'),
    url('/src/assets/fonts/dita/AF-DitaGroteskMonoDEMO-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
