@font-face {
  font-family: "chop-logic-icons";
  src: url("/src/assets/icons/chop-logic-icons.eot?qo9g7q");
  src:
    url("/src/assets/icons/chop-logic-icons.eot?qo9g7q#iefix") format("embedded-opentype"),
    url("/src/assets/icons/chop-logic-icons.ttf?qo9g7q") format("truetype"),
    url("/src/assets/icons/chop-logic-icons.woff?qo9g7q") format("woff"),
    url("/src/assets/icons/chop-logic-icons.svg?qo9g7q#chop-logic-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="chop-icon__"]::before,
[class*=" chop-icon__"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "chop-logic-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chop-icon__activity:before {
  content: "\e900";
}
.chop-icon__airplay:before {
  content: "\e901";
}
.chop-icon__alert-circle:before {
  content: "\e902";
}
.chop-icon__alert-octagon:before {
  content: "\e903";
}
.chop-icon__alert-triangle:before {
  content: "\e904";
}
.chop-icon__align-center:before {
  content: "\e905";
}
.chop-icon__align-justify:before {
  content: "\e906";
}
.chop-icon__align-left:before {
  content: "\e907";
}
.chop-icon__align-right:before {
  content: "\e908";
}
.chop-icon__anchor:before {
  content: "\e909";
}
.chop-icon__aperture:before {
  content: "\e90a";
}
.chop-icon__archive:before {
  content: "\e90b";
}
.chop-icon__arrow-down:before {
  content: "\e90c";
}
.chop-icon__arrow-down-circle:before {
  content: "\e90d";
}
.chop-icon__arrow-down-left:before {
  content: "\e90e";
}
.chop-icon__arrow-down-right:before {
  content: "\e90f";
}
.chop-icon__arrow-left:before {
  content: "\e910";
}
.chop-icon__arrow-left-circle:before {
  content: "\e911";
}
.chop-icon__arrow-right:before {
  content: "\e912";
}
.chop-icon__arrow-right-circle:before {
  content: "\e913";
}
.chop-icon__arrow-up:before {
  content: "\e914";
}
.chop-icon__arrow-up-circle:before {
  content: "\e915";
}
.chop-icon__arrow-up-left:before {
  content: "\e916";
}
.chop-icon__arrow-up-right:before {
  content: "\e917";
}
.chop-icon__at-sign:before {
  content: "\e918";
}
.chop-icon__award:before {
  content: "\e919";
}
.chop-icon__bar-chart:before {
  content: "\e91a";
}
.chop-icon__bar-chart-2:before {
  content: "\e91b";
}
.chop-icon__battery:before {
  content: "\e91c";
}
.chop-icon__battery-charging:before {
  content: "\e91d";
}
.chop-icon__bell:before {
  content: "\e91e";
}
.chop-icon__bell-off:before {
  content: "\e91f";
}
.chop-icon__bluetooth:before {
  content: "\e920";
}
.chop-icon__bold:before {
  content: "\e921";
}
.chop-icon__book:before {
  content: "\e922";
}
.chop-icon__book-open:before {
  content: "\e923";
}
.chop-icon__bookmark:before {
  content: "\e924";
}
.chop-icon__box:before {
  content: "\e925";
}
.chop-icon__briefcase:before {
  content: "\e926";
}
.chop-icon__calendar:before {
  content: "\e927";
}
.chop-icon__camera:before {
  content: "\e928";
}
.chop-icon__camera-off:before {
  content: "\e929";
}
.chop-icon__cast:before {
  content: "\e92a";
}
.chop-icon__check:before {
  content: "\e92b";
}
.chop-icon__check-circle:before {
  content: "\e92c";
}
.chop-icon__check-square:before {
  content: "\e92d";
}
.chop-icon__chevron-down:before {
  content: "\e92e";
}
.chop-icon__chevron-left:before {
  content: "\e92f";
}
.chop-icon__chevron-right:before {
  content: "\e930";
}
.chop-icon__chevron-up:before {
  content: "\e931";
}
.chop-icon__chevrons-down:before {
  content: "\e932";
}
.chop-icon__chevrons-left:before {
  content: "\e933";
}
.chop-icon__chevrons-right:before {
  content: "\e934";
}
.chop-icon__chevrons-up:before {
  content: "\e935";
}
.chop-icon__chrome:before {
  content: "\e936";
}
.chop-icon__circle:before {
  content: "\e937";
}
.chop-icon__clipboard:before {
  content: "\e938";
}
.chop-icon__clock:before {
  content: "\e939";
}
.chop-icon__cloud:before {
  content: "\e93a";
}
.chop-icon__cloud-drizzle:before {
  content: "\e93b";
}
.chop-icon__cloud-lightning:before {
  content: "\e93c";
}
.chop-icon__cloud-off:before {
  content: "\e93d";
}
.chop-icon__cloud-rain:before {
  content: "\e93e";
}
.chop-icon__cloud-snow:before {
  content: "\e93f";
}
.chop-icon__code:before {
  content: "\e940";
}
.chop-icon__codepen:before {
  content: "\e941";
}
.chop-icon__codesandbox:before {
  content: "\e942";
}
.chop-icon__coffee:before {
  content: "\e943";
}
.chop-icon__columns:before {
  content: "\e944";
}
.chop-icon__command:before {
  content: "\e945";
}
.chop-icon__compass:before {
  content: "\e946";
}
.chop-icon__copy:before {
  content: "\e947";
}
.chop-icon__corner-down-left:before {
  content: "\e948";
}
.chop-icon__corner-down-right:before {
  content: "\e949";
}
.chop-icon__corner-left-down:before {
  content: "\e94a";
}
.chop-icon__corner-left-up:before {
  content: "\e94b";
}
.chop-icon__corner-right-down:before {
  content: "\e94c";
}
.chop-icon__corner-right-up:before {
  content: "\e94d";
}
.chop-icon__corner-up-left:before {
  content: "\e94e";
}
.chop-icon__corner-up-right:before {
  content: "\e94f";
}
.chop-icon__cpu:before {
  content: "\e950";
}
.chop-icon__credit-card:before {
  content: "\e951";
}
.chop-icon__crop:before {
  content: "\e952";
}
.chop-icon__crosshair:before {
  content: "\e953";
}
.chop-icon__database:before {
  content: "\e954";
}
.chop-icon__delete:before {
  content: "\e955";
}
.chop-icon__disc:before {
  content: "\e956";
}
.chop-icon__dollar-sign:before {
  content: "\e957";
}
.chop-icon__download:before {
  content: "\e958";
}
.chop-icon__download-cloud:before {
  content: "\e959";
}
.chop-icon__droplet:before {
  content: "\e95a";
}
.chop-icon__edit:before {
  content: "\e95b";
}
.chop-icon__edit-2:before {
  content: "\e95c";
}
.chop-icon__edit-3:before {
  content: "\e95d";
}
.chop-icon__external-link:before {
  content: "\e95e";
}
.chop-icon__eye:before {
  content: "\e95f";
}
.chop-icon__eye-off:before {
  content: "\e960";
}
.chop-icon__facebook:before {
  content: "\e961";
}
.chop-icon__fast-forward:before {
  content: "\e962";
}
.chop-icon__feather:before {
  content: "\e963";
}
.chop-icon__figma:before {
  content: "\e964";
}
.chop-icon__file:before {
  content: "\e965";
}
.chop-icon__file-minus:before {
  content: "\e966";
}
.chop-icon__file-plus:before {
  content: "\e967";
}
.chop-icon__file-text:before {
  content: "\e968";
}
.chop-icon__film:before {
  content: "\e969";
}
.chop-icon__filter:before {
  content: "\e96a";
}
.chop-icon__flag:before {
  content: "\e96b";
}
.chop-icon__folder:before {
  content: "\e96c";
}
.chop-icon__folder-minus:before {
  content: "\e96d";
}
.chop-icon__folder-plus:before {
  content: "\e96e";
}
.chop-icon__framer:before {
  content: "\e96f";
}
.chop-icon__frown:before {
  content: "\e970";
}
.chop-icon__gift:before {
  content: "\e971";
}
.chop-icon__git-branch:before {
  content: "\e972";
}
.chop-icon__git-commit:before {
  content: "\e973";
}
.chop-icon__git-merge:before {
  content: "\e974";
}
.chop-icon__git-pull-request:before {
  content: "\e975";
}
.chop-icon__github:before {
  content: "\e976";
}
.chop-icon__gitlab:before {
  content: "\e977";
}
.chop-icon__globe:before {
  content: "\e978";
}
.chop-icon__grid:before {
  content: "\e979";
}
.chop-icon__hard-drive:before {
  content: "\e97a";
}
.chop-icon__hash:before {
  content: "\e97b";
}
.chop-icon__headphones:before {
  content: "\e97c";
}
.chop-icon__heart:before {
  content: "\e97d";
}
.chop-icon__help-circle:before {
  content: "\e97e";
}
.chop-icon__hexagon:before {
  content: "\e97f";
}
.chop-icon__home:before {
  content: "\e980";
}
.chop-icon__image:before {
  content: "\e981";
}
.chop-icon__inbox:before {
  content: "\e982";
}
.chop-icon__info:before {
  content: "\e983";
}
.chop-icon__instagram:before {
  content: "\e984";
}
.chop-icon__italic:before {
  content: "\e985";
}
.chop-icon__key:before {
  content: "\e986";
}
.chop-icon__layers:before {
  content: "\e987";
}
.chop-icon__layout:before {
  content: "\e988";
}
.chop-icon__life-buoy:before {
  content: "\e989";
}
.chop-icon__link:before {
  content: "\e98a";
}
.chop-icon__link-2:before {
  content: "\e98b";
}
.chop-icon__linkedin:before {
  content: "\e98c";
}
.chop-icon__list:before {
  content: "\e98d";
}
.chop-icon__loader:before {
  content: "\e98e";
}
.chop-icon__lock:before {
  content: "\e98f";
}
.chop-icon__log-in:before {
  content: "\e990";
}
.chop-icon__log-out:before {
  content: "\e991";
}
.chop-icon__mail:before {
  content: "\e992";
}
.chop-icon__map:before {
  content: "\e993";
}
.chop-icon__map-pin:before {
  content: "\e994";
}
.chop-icon__maximize:before {
  content: "\e995";
}
.chop-icon__maximize-2:before {
  content: "\e996";
}
.chop-icon__meh:before {
  content: "\e997";
}
.chop-icon__menu:before {
  content: "\e998";
}
.chop-icon__message-circle:before {
  content: "\e999";
}
.chop-icon__message-square:before {
  content: "\e99a";
}
.chop-icon__mic:before {
  content: "\e99b";
}
.chop-icon__mic-off:before {
  content: "\e99c";
}
.chop-icon__minimize:before {
  content: "\e99d";
}
.chop-icon__minimize-2:before {
  content: "\e99e";
}
.chop-icon__minus:before {
  content: "\e99f";
}
.chop-icon__minus-circle:before {
  content: "\e9a0";
}
.chop-icon__minus-square:before {
  content: "\e9a1";
}
.chop-icon__monitor:before {
  content: "\e9a2";
}
.chop-icon__moon:before {
  content: "\e9a3";
}
.chop-icon__more-horizontal:before {
  content: "\e9a4";
}
.chop-icon__more-vertical:before {
  content: "\e9a5";
}
.chop-icon__mouse-pointer:before {
  content: "\e9a6";
}
.chop-icon__move:before {
  content: "\e9a7";
}
.chop-icon__music:before {
  content: "\e9a8";
}
.chop-icon__navigation:before {
  content: "\e9a9";
}
.chop-icon__navigation-2:before {
  content: "\e9aa";
}
.chop-icon__octagon:before {
  content: "\e9ab";
}
.chop-icon__package:before {
  content: "\e9ac";
}
.chop-icon__paperclip:before {
  content: "\e9ad";
}
.chop-icon__pause:before {
  content: "\e9ae";
}
.chop-icon__pause-circle:before {
  content: "\e9af";
}
.chop-icon__pen-tool:before {
  content: "\e9b0";
}
.chop-icon__percent:before {
  content: "\e9b1";
}
.chop-icon__phone:before {
  content: "\e9b2";
}
.chop-icon__phone-call:before {
  content: "\e9b3";
}
.chop-icon__phone-forwarded:before {
  content: "\e9b4";
}
.chop-icon__phone-incoming:before {
  content: "\e9b5";
}
.chop-icon__phone-missed:before {
  content: "\e9b6";
}
.chop-icon__phone-off:before {
  content: "\e9b7";
}
.chop-icon__phone-outgoing:before {
  content: "\e9b8";
}
.chop-icon__pie-chart:before {
  content: "\e9b9";
}
.chop-icon__play:before {
  content: "\e9ba";
}
.chop-icon__play-circle:before {
  content: "\e9bb";
}
.chop-icon__plus:before {
  content: "\e9bc";
}
.chop-icon__plus-circle:before {
  content: "\e9bd";
}
.chop-icon__plus-square:before {
  content: "\e9be";
}
.chop-icon__pocket:before {
  content: "\e9bf";
}
.chop-icon__power:before {
  content: "\e9c0";
}
.chop-icon__printer:before {
  content: "\e9c1";
}
.chop-icon__radio:before {
  content: "\e9c2";
}
.chop-icon__refresh-ccw:before {
  content: "\e9c3";
}
.chop-icon__refresh-cw:before {
  content: "\e9c4";
}
.chop-icon__repeat:before {
  content: "\e9c5";
}
.chop-icon__rewind:before {
  content: "\e9c6";
}
.chop-icon__rotate-ccw:before {
  content: "\e9c7";
}
.chop-icon__rotate-cw:before {
  content: "\e9c8";
}
.chop-icon__rss:before {
  content: "\e9c9";
}
.chop-icon__save:before {
  content: "\e9ca";
}
.chop-icon__scissors:before {
  content: "\e9cb";
}
.chop-icon__search:before {
  content: "\e9cc";
}
.chop-icon__send:before {
  content: "\e9cd";
}
.chop-icon__server:before {
  content: "\e9ce";
}
.chop-icon__settings:before {
  content: "\e9cf";
}
.chop-icon__share:before {
  content: "\e9d0";
}
.chop-icon__share-2:before {
  content: "\e9d1";
}
.chop-icon__shield:before {
  content: "\e9d2";
}
.chop-icon__shield-off:before {
  content: "\e9d3";
}
.chop-icon__shopping-bag:before {
  content: "\e9d4";
}
.chop-icon__shopping-cart:before {
  content: "\e9d5";
}
.chop-icon__shuffle:before {
  content: "\e9d6";
}
.chop-icon__sidebar:before {
  content: "\e9d7";
}
.chop-icon__skip-back:before {
  content: "\e9d8";
}
.chop-icon__skip-forward:before {
  content: "\e9d9";
}
.chop-icon__slack:before {
  content: "\e9da";
}
.chop-icon__slash:before {
  content: "\e9db";
}
.chop-icon__sliders:before {
  content: "\e9dc";
}
.chop-icon__smartphone:before {
  content: "\e9dd";
}
.chop-icon__smile:before {
  content: "\e9de";
}
.chop-icon__speaker:before {
  content: "\e9df";
}
.chop-icon__square:before {
  content: "\e9e0";
}
.chop-icon__star:before {
  content: "\e9e1";
}
.chop-icon__stop-circle:before {
  content: "\e9e2";
}
.chop-icon__sun:before {
  content: "\e9e3";
}
.chop-icon__sunrise:before {
  content: "\e9e4";
}
.chop-icon__sunset:before {
  content: "\e9e5";
}
.chop-icon__tablet:before {
  content: "\e9e6";
}
.chop-icon__tag:before {
  content: "\e9e7";
}
.chop-icon__target:before {
  content: "\e9e8";
}
.chop-icon__terminal:before {
  content: "\e9e9";
}
.chop-icon__thermometer:before {
  content: "\e9ea";
}
.chop-icon__thumbs-down:before {
  content: "\e9eb";
}
.chop-icon__thumbs-up:before {
  content: "\e9ec";
}
.chop-icon__toggle-left:before {
  content: "\e9ed";
}
.chop-icon__toggle-right:before {
  content: "\e9ee";
}
.chop-icon__tool:before {
  content: "\e9ef";
}
.chop-icon__trash:before {
  content: "\e9f0";
}
.chop-icon__trash-2:before {
  content: "\e9f1";
}
.chop-icon__trello:before {
  content: "\e9f2";
}
.chop-icon__trending-down:before {
  content: "\e9f3";
}
.chop-icon__trending-up:before {
  content: "\e9f4";
}
.chop-icon__triangle:before {
  content: "\e9f5";
}
.chop-icon__truck:before {
  content: "\e9f6";
}
.chop-icon__tv:before {
  content: "\e9f7";
}
.chop-icon__twitch:before {
  content: "\e9f8";
}
.chop-icon__twitter:before {
  content: "\e9f9";
}
.chop-icon__type:before {
  content: "\e9fa";
}
.chop-icon__umbrella:before {
  content: "\e9fb";
}
.chop-icon__underline:before {
  content: "\e9fc";
}
.chop-icon__unlock:before {
  content: "\e9fd";
}
.chop-icon__upload:before {
  content: "\e9fe";
}
.chop-icon__upload-cloud:before {
  content: "\e9ff";
}
.chop-icon__user:before {
  content: "\ea00";
}
.chop-icon__user-check:before {
  content: "\ea01";
}
.chop-icon__user-minus:before {
  content: "\ea02";
}
.chop-icon__user-plus:before {
  content: "\ea03";
}
.chop-icon__user-x:before {
  content: "\ea04";
}
.chop-icon__users:before {
  content: "\ea05";
}
.chop-icon__video:before {
  content: "\ea06";
}
.chop-icon__video-off:before {
  content: "\ea07";
}
.chop-icon__voicemail:before {
  content: "\ea08";
}
.chop-icon__volume:before {
  content: "\ea09";
}
.chop-icon__volume-1:before {
  content: "\ea0a";
}
.chop-icon__volume-2:before {
  content: "\ea0b";
}
.chop-icon__volume-x:before {
  content: "\ea0c";
}
.chop-icon__watch:before {
  content: "\ea0d";
}
.chop-icon__wifi:before {
  content: "\ea0e";
}
.chop-icon__wifi-off:before {
  content: "\ea0f";
}
.chop-icon__wind:before {
  content: "\ea10";
}
.chop-icon__x:before {
  content: "\ea11";
}
.chop-icon__x-circle:before {
  content: "\ea12";
}
.chop-icon__x-octagon:before {
  content: "\ea13";
}
.chop-icon__x-square:before {
  content: "\ea14";
}
.chop-icon__youtube:before {
  content: "\ea15";
}
.chop-icon__zap:before {
  content: "\ea16";
}
.chop-icon__zap-off:before {
  content: "\ea17";
}
.chop-icon__zoom-in:before {
  content: "\ea18";
}
.chop-icon__zoom-out:before {
  content: "\ea19";
}
