@forward 'dita';
@forward 'cyrge';
@forward 'absurdite';

$cl-core-font: 'CyrgeRegular', Arial, sans-serif;
$cl-core-font-bold: 'CyrgeBold', Arial, sans-serif;
$cl-core-font-light: 'CyrgeLight', Arial, sans-serif;

$cl-monospace-font: 'DitaRegular', 'Courier New', Courier, monospace;

$cl-fancy-font: 'Absurdite', Garamond, 'Times New Roman', Times, serif;
