.cl-link {
  display: inline-flex;
  align-items: center;
  gap: var(--cl-s-gap);
  text-decoration: none;
  transition: all 0.2s ease;
  color: var(--cl-info-a0);
}

.cl-link:focus {
  outline: var(--cl-outline-border);
  outline-offset: var(--cl-s-gap);
  border-radius: var(--cl-border-radius);
}

.cl-link:focus:not(:focus-visible) {
  outline: none;
}

.cl-link:visited {
  color: var(--cl-info-a20);
}

.cl-link:hover {
  text-shadow: var(--cl-text-shadow);
}

.cl-link_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.cl-link__text {
  /* Typography: core font base */
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  color: inherit;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
}

.cl-link__icon::before {
  color: var(--cl-info-a0);
}

@media (min-width: 640px) {
  .cl-link__text {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-link__text {
    font-size: var(--cl-typography-base-desktop);
  }
}
