@use "/src/styles/animations";
@use "/src/styles/typography";
@use "/src/styles/variables";

.tooltip {
  color: var(--cl-primary-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: variables.$popup;
  background-color: var(--cl-primary-background);
  border: var(--cl-primary-border);
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  box-shadow: var(--cl-box-shadow);
  pointer-events: none;
  white-space: nowrap;

  @include animations.fade-in();
  @include typography.core-font(small);
}
