.cl-tab-list {
  padding: 0 var(--cl-m-gap) var(--cl-m-gap) var(--cl-m-gap);
  display: flex;
  gap: var(--cl-m-gap);
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.cl-tab-list:focus {
  outline: var(--cl-outline-border);
  outline-offset: 4px;
}

.cl-tab-list > span:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-tab-list > span:last-of-type button {
  width: 100%;
}

.cl-tab-list_vertical {
  flex-shrink: 0;
  flex-direction: column;
  border-bottom: none;
  border-right: var(--cl-primary-border);
  padding: var(--cl-m-gap) var(--cl-m-gap) var(--cl-m-gap) 0;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
