@use '/src/styles/typography/index';
@use '/src/styles/mixins/index';

.menuLeaf {
  @include typography.font-style(core, base);
  @include mixins.ripple();

  color: var(--cl-primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--cl-m-gap);
  background-color: var(--cl-primary-background);
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  cursor: pointer;

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  a {
    color: var(--cl-tint-color);
  }
}
