@use "/src/styles/typography";
@use "/src/styles/mixins";

.menuLeaf {
  color: var(--cl-primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--cl-m-gap);
  background-color: var(--cl-primary-background);
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  cursor: pointer;
  @include mixins.ripple();
  @include typography.core-font(base);

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  a {
    color: var(--cl-tint-color);
  }
}
