@import 'styles/global.scss';

.cl-text-input {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    font-family: var(--core-font);
    color: var(--cl-color-black);
    box-shadow: var(--box-shadow);
    border-top-left-radius: var(--block-border-radius);
    border-top-right-radius: var(--block-border-radius);
    border: var(--light-blue-border);

    &:has(.cl-text-input__textbox:focus-visible) {
      border: var(--dark-blue-border);
      outline: var(--dark-blue-border);
      outline-offset: -3px;
    }

    &_invalid {
      border: var(--accent-border);

      &:has(.cl-text-input__textbox:focus-visible) {
        border: var(--accent-border);
        outline: var(--accent-border);
        outline-offset: -3px;
      }
    }

    &_disabled {
      filter: grayscale(100%);
      opacity: 0.8;
      pointer-events: none;

      & .cl-text-input__textbox::placeholder {
        color: transparent;
      }
    }
  }

  &__textbox {
    outline: 0;
    border: none;
    font-size: 1rem;
    padding: 0;
    background: transparent;
    font-family: var(--core-font);
    color: var(--cl-color-black);
  }

  &__error {
    padding-inline-start: var(--medium-gap);
  }
}
