@use "/src/styles/typography";
@use "/src/styles/mixins";

.switch {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--cl-l-gap);
  padding: var(--cl-m-gap);
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  border-radius: var(--cl-border-radius);
  outline: none;
  @include mixins.ripple();

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  &_input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &_label {
    color: var(--cl-primary-color);
    @include typography.core-font(base);
  }

  &_track {
    position: relative;
    width: 52px;
    height: 28px;
    background-color: var(--cl-tint-background);
    border-radius: 14px;
    transition: background-color 0.2s ease;
    order: 3;
    flex-shrink: 0;

    .switch__checked & {
      background-color: var(--cl-accent-color);
    }
  }

  &_thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: var(--cl-thumb-size);
    height: var(--cl-thumb-size);
    background-color: var(--cl-primary-background);
    border-radius: 50%;
    box-shadow: var(--cl-box-shadow);
    transition: transform 0.2s ease;

    .switch__checked & {
      transform: translateX(24px);
    }
  }

  &_indicator {
    color: var(--cl-accent-color);
    text-transform: uppercase;
    display: inline-block;
    width: var(--cl-thumb-size);
    text-align: center;
    @include typography.core-font(small);
  }

  &__disabled {
    @include mixins.disabled();
  }
}
