@use '/src/styles/typography';
@use '/src/styles/mixins';

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--cl-s-gap);
  text-decoration: none;
  color: var(--cl-tint-color);
  transition: all 0.2s ease;

  &:focus {
    outline: var(--cl-outline-border);
    outline-offset: 2px;
    border-radius: var(--cl-border-radius);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover {
    text-shadow: var(--cl-text-shadow);
    text-decoration: underline;
  }

  &__disabled {
    @include mixins.disabled();
  }

  &_text {
    @include typography.font-style(core, base);
  }

  &_icon {
    color: var(--cl-tint-color);
  }
}
