:root {
  /** primary colors **/
  --cl-color-black: #212121;
  --cl-color-white: #ffffff;
  --cl-color-primary: #1c5b97;
  --cl-color-primary-dark: #063661;
  --cl-color-primary-light: #5b8cb8;
  --cl-color-moonstone: #639fab;
  --cl-color-powder: #bccee6;

  /** complimentary colors **/
  --cl-color-accent: #eb961e;
  --cl-color-accent-dark: #945600;
  --cl-color-accent-light: #ffc574;

  /* gradients */
  --cl-primary-gradient: linear-gradient(0deg, #212121, #1c5b97);
  --cl-accent-gradient: linear-gradient(0deg, #945600, #ffc674);
}
