@use "/src/styles/variables";
@use "/src/styles/breakpoints";

.dropdown {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.3s linear;
  position: absolute;
  background: var(--cl-primary-background);
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: variables.$popup;
  width: 100%;
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  box-shadow: var(--cl-box-shadow);
  overflow-y: auto;
  max-height: 180px;
  left: 0;
  top: 76px;

  @include breakpoints.md-up {
    top: 82px;
    max-height: 220px;
  }

  @include breakpoints.lg-up {
    top: 88px;
    max-height: 260px;
  }

  &__opened {
    visibility: visible;
    opacity: 1;
  }
}
