@use "/src/styles/animations";
@use "/src/styles/typography";
@use "/src/styles/variables";

.errorMessage {
  display: none;
  max-width: 100%;
  z-index: variables.$popup;
  background-color: var(--cl-primary-background);
  border: var(--cl-accent-border);
  color: var(--cl-accent-color);
  padding: var(--cl-m-gap);
  border-radius: var(--cl-border-radius);
  box-shadow: var(--cl-box-shadow);
  pointer-events: none;
  @include animations.fade-in();
  @include typography.core-font(small);

  &__visible {
    display: block;
  }
}
