@use "/src/styles/typography";

.head {
  color: var(--cl-primary-color);
  @include typography.core-font(base, 700);

  &_row {
    border-top: var(--cl-light-border);
    border-bottom: var(--cl-light-border);
    background-color: var(--cl-primary-background);
  }
}
