@use "/src/styles/typography";

.head {
  @include typography.font-style(core, base, bold);
  color: var(--cl-primary-color);

  &_row {
    border-top: var(--cl-light-border);
    border-bottom: var(--cl-light-border);
    background-color: var(--cl-primary-background);
  }
}
