/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-dialog {
  animation: cl-fade-in ease 400ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.3);
}

/* ============================================================================
   ELEMENTS
   ============================================================================ */

.cl-dialog__layout {
  z-index: var(--cl-z-index-modal);
  background-color: var(--cl-base-background-color);
  box-shadow: var(--cl-box-shadow);
  color: var(--cl-base-font-color);
  padding: var(--cl-l-gap);
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: var(--cl-border-radius);
  border-top-right-radius: var(--cl-border-radius);
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-dialog__button {
  position: absolute;
  right: var(--cl-s-gap);
  top: var(--cl-s-gap);
}

@media (min-width: 640px) {
  .cl-dialog__layout {
    font-size: var(--cl-typography-base-tablet);
  }

  .cl-dialog__button {
    right: var(--cl-m-gap);
    top: var(--cl-m-gap);
  }
}

@media (min-width: 1024px) {
  .cl-dialog__layout {
    font-size: var(--cl-typography-base-desktop);
    padding: var(--cl-xl-gap);
  }

  .cl-dialog__button {
    right: var(--cl-l-gap);
    top: var(--cl-l-gap);
  }
}

@media screen and (min-width: 640px) {
  .cl-dialog__layout {
    width: fit-content;
    height: fit-content;
    position: relative;
    min-width: 40%;
    max-width: 90%;
    max-height: 90%;
    border-bottom-left-radius: var(--cl-border-radius);
    border-bottom-right-radius: var(--cl-border-radius);
  }
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-dialog_closing {
  animation: cl-fade-out ease 400ms;
}
