/* ============================================================================
   ANIMATIONS
   ============================================================================ */
@keyframes cl-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cl-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-dialog {
  animation: cl-fade-in ease 400ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-shadow-background);
}

/* ============================================================================
   ELEMENTS
   ============================================================================ */

.cl-dialog__layout {
  z-index: 200;
  background-color: var(--cl-primary-background);
  box-shadow: var(--cl-box-shadow);
  color: var(--cl-primary-color);
  padding: var(--cl-l-gap) var(--cl-xl-gap);
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: var(--cl-border-radius);
  border-top-right-radius: var(--cl-border-radius);
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: var(--cl-breakpoint-md)) {
  .cl-dialog__layout {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: var(--cl-breakpoint-lg)) {
  .cl-dialog__layout {
    font-size: var(--cl-typography-base-desktop);
  }
}

.cl-dialog__button {
  position: absolute;
  right: var(--cl-l-gap);
  top: var(--cl-l-gap);
}

@media screen and (min-width: var(--cl-breakpoint-md)) {
  .cl-dialog__layout {
    width: fit-content;
    height: fit-content;
    position: relative;
    min-width: 40%;
    max-width: 90%;
    max-height: 90%;
    border-bottom-left-radius: var(--cl-border-radius);
    border-bottom-right-radius: var(--cl-border-radius);
  }
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-dialog_closing {
  animation: cl-fade-out ease 400ms;
}
