@use '/src/styles/animations';
@use '/src/styles/typography';
@use '/src/styles/variables';

.errorMessage {
  @include animations.fade-in();
  @include typography.font-style(core, small);

  display: none;
  position: absolute;
  max-width: 100%;
  right: 0;
  top: 76px;
  opacity: 0.8;
  z-index: variables.$popup;
  background-color: var(--cl-background-color-base);
  border: var(--cl-border-accent);
  color: var(--cl-font-color-accent);
  padding: var(--cl-gap-medium);
  border-radius: var(--cl-block-border-radius);
  box-shadow: var(--cl-box-shadow);
  pointer-events: none;

  &__visible {
    display: block;
  }
}
