/* Ripple effect on click */

@mixin ripple {
  background-position: center;
  transition: background 0.3s;

  &:hover {
    background: var(--cl-primary-background)
      radial-gradient(circle, transparent 1%, var(--cl-primary-background) 1%) center/15000%;
    color: var(--cl-tint-color);

    svg {
      color: var(--cl-tint-color);
    }
  }

  &:active {
    background-color: var(--cl-shadow-background);
    background-size: 100%;
    transition: background 0s;
  }
}
