@use '/src/styles/typography';
@use '/src/styles/mixins';

.button {
  @include typography.font-style(core, base);
  color: var(--cl-primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--cl-s-gap);
  padding: var(--cl-m-gap) var(--cl-l-gap);
  border: var(--cl-primary-border);
  border-radius: var(--cl-border-radius);
  background: transparent;

  &:hover,
  &:active {
    border: var(--cl-light-border);
    color: var(--cl-tint-color);
    text-shadow: var(--cl-text-shadow);

    svg {
      filter: var(--cl-drop-shadow);
    }
  }

  &:focus-visible {
    outline: var(--cl-outline-border);
  }

  &[disabled] {
    @include mixins.disabled();
  }
}
