@use '/src/styles/typography';
@use '/src/styles/mixins';

.tab {
  @include typography.font-style(core, base);
  @include mixins.ripple();

  color: var(--cl-primary-color);

  background: var(--cl-primary-background);
  outline: none;
  border: none;
  padding: var(--cl-m-gap);
  cursor: pointer;
  overflow: hidden;
  flex: 1;
  border-radius: var(--cl-border-radius);

  &:focus-visible {
    outline: var(--cl-outline-border);
    outline-offset: -4px;
  }

  &_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--cl-l-gap);
    border-top-left-radius: var(--cl-border-radius);
    border-top-right-radius: var(--cl-border-radius);
    border-top: var(--cl-primary-border);
    border-right: var(--cl-primary-border);
    border-left: var(--cl-primary-border);
    background-color: var(--cl-primary-background);

    &__selected {
      top: 1px;
    }

    &__vertical {
      border-bottom-left-radius: var(--cl-border-radius);
      border-top-right-radius: 0;
      border-top: var(--cl-primary-border);
      border-right: none;
      border-left: var(--cl-primary-border);
      border-bottom: var(--cl-primary-border);

      &.tab_wrapper__selected {
        top: 0;
        left: 1px;
      }
    }

    &__stretched {
      flex: 1;
    }

    &__disabled {
      @include mixins.disabled();
    }

    &__inactive {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  &_editContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--cl-s-gap);
    width: 100%;
    padding: 0 var(--cl-s-gap);

    input {
      flex: 1;
      @include typography.font-style(core, base, normal, 1);
      padding-block: 0;
      padding-inline: 0;
      padding: var(--cl-s-gap);
      border: var(--cl-light-border);
      border-radius: var(--cl-border-radius);

      &:focus-visible,
      &:focus {
        outline: none;
      }
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  &_editButton {
    margin-right: var(--cl-s-gap);
  }
}
