@use '/src/styles/typography';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    @include typography.font-style(core, header);
    display: flex;
    gap: var(--cl-m-gap);
    align-items: center;
    margin: 0;

    svg {
      color: var(--cl-accent-color);
    }
  }
}
