@use "/src/styles/typography";

.container {
  color: var(--cl-primary-color);
  background-color: var(--cl-primary-background);
  padding: var(--cl-l-gap);
  margin: var(--cl-l-gap);
  border: var(--cl-light-border);
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);

  @include typography.core-font(base);
}
