/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-search {
  display: flex;
  flex-direction: column;
  gap: var(--cl-m-gap);
  width: 100%;
}

/* ============================================================================
   ELEMENTS
   ============================================================================ */

/* For WebKit browsers (Chrome, Edge, Safari) */
.cl-search input[type="search"]::-webkit-search-decoration,
.cl-search input[type="search"]::-webkit-search-cancel-button,
.cl-search input[type="search"]::-webkit-search-results-button,
.cl-search input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none; /* Further ensures removal of default styling */
}

/* For Internet Explorer (older versions) */
.cl-search input[type="search"]::-ms-clear,
.cl-search input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.cl-search input:placeholder-shown + span {
  display: inline-block;
}
