/* ============================================================================
   BLOCK
   ============================================================================ */
.cl-accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ============================================================================
   ELEMENTS (Accordion Item)
   ============================================================================ */

.cl-accordion-item {
  display: flex;
  flex-direction: column;
}

.cl-accordion-item__summary {
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: 700;
  color: var(--cl-primary-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--cl-l-gap);
  border-bottom: var(--cl-primary-border);
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .cl-accordion-item__summary {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-accordion-item__summary {
    font-size: var(--cl-typography-base-desktop);
  }
}

.cl-accordion-item__summary:hover {
  text-shadow: var(--cl-text-shadow);
}

.cl-accordion-item__summary::-webkit-details-marker {
  display: none;
}

.cl-accordion-item__summary:focus-visible {
  outline: var(--cl-outline-border);
  outline-offset: -4px;
}

.cl-accordion-item__content {
  color: var(--cl-primary-color);
  padding: var(--cl-l-gap);
  font-family: var(--cl-core-font);
  font-size: var(--cl-typography-base-mobile);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .cl-accordion-item__content {
    font-size: var(--cl-typography-base-tablet);
  }
}

@media (min-width: 1024px) {
  .cl-accordion-item__content {
    font-size: var(--cl-typography-base-desktop);
  }
}

.cl-accordion-item__icon {
  transition: transform 0.3s ease;
}

/* ============================================================================
   MODIFIERS
   ============================================================================ */

.cl-accordion-item[open] .cl-accordion-item__summary {
  border-bottom: none;
}

.cl-accordion-item[open] .cl-accordion-item__content {
  border-bottom: var(--cl-primary-border);
}

.cl-accordion-item[open] .cl-accordion-item__icon {
  transform: rotate(180deg);
}
