.cl-button {
  min-height: var(--min-element-size);
  min-width: var(--min-element-size);
  border: none;
  cursor: pointer;
  padding: 0 0.75rem;
  font-size: 1rem;
  font-family: var(--core-font);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--small-gap);
  overflow: hidden;
}

.cl-button:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 2px;
}

.cl-button__text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cl-button_primary,
.cl-button_danger {
  border-radius: var(--block-border-radius);
  color: var(--cl-color-ivory);
  box-shadow: var(--box-shadow);
  filter: brightness(100%);
  transition: 0.3s;
}

.cl-button_primary:hover,
.cl-button_primary:active,
.cl-button_danger:hover,
.cl-button_danger:active {
  filter: brightness(130%);
}

.cl-button_primary {
  background: var(--cl-primary-gradient);
}

.cl-button_danger {
  background: var(--cl-accent-gradient);
}

.cl-button_secondary {
  background: none;
  color: var(--cl-color-black);
  text-shadow: none;
  transition: 0.3s;
}

.cl-button_secondary .cl-button__text {
  text-decoration: underline;
}

.cl-button_secondary:hover,
.cl-button_secondary:active {
  text-shadow: var(--text-shadow);
}

.cl-button_icon {
  gap: 0;
  background: transparent;
  font-weight: normal;
  font-size: 1.4rem;
  border-radius: var(--block-border-radius);
  color: var(--cl-color-celtic-blue);
}

.cl-button_icon:hover,
.cl-button_icon:active {
  background-color: var(--cl-color-tint);
}

.cl-button_disabled {
  pointer-events: none;
  filter: grayscale(80%);
  opacity: 0.9;
}

.cl-button_disabled.cl-button_secondary {
  opacity: 0.6;
}
